
<header class="navbar navbar-fixed-top navbar-inverse" id="top" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/admin" class="navbar-brand">
      Wedding Admin Page
    </a>
  </div>
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
      <!--
      <li class="active">
        <a href="#invitee_list" role="tab" data-toggle="tab">Invitee List</a>
      </li>
    -->
      <li class="navbar-actions" style="display: none">
        <!-- <button class="btn btn-success" id="import_spreadsheet">Import Spreadsheet</button> -->
        <a href="#" class="btn btn-success" id="import_spreadsheet">Import Spreadsheet</a>
      </li>
      <li class="navbar-actions" style="display: none">
        <a class="btn btn-warning" href="/admin/splash/export" target="_blank">Export Data</a>
      </li>
      <li class="navbar-actions">
        <a class="btn btn-warning print_label_button">Show Printable Labels</a>
      </li>
    </ul>
  </nav>
</header>
<div class="tab-content main_content">
  <div class="tab-pane active" id="invitee_list">
    <div class="section">
      <h3>Overall</h3>
      <table class='table table-bordered' style="width:400px;">
        <thead>
          <tr>
            <td>Occasion RSVPs</td>
            <td>yes</td>
            <td>no</td>
            <td>not responded</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AZ Ceremony</td>
            <td><%= @az_wedding['yes'] %></td>
            <td><%= @az_wedding['no'] %></td>
            <td><%= @az_wedding['na'] %></td>
          </tr>
          <tr>
            <td>AZ Reception</td>
            <td><%= @az_reception['yes'] %></td>
            <td><%= @az_reception['no'] %></td>
            <td><%= @az_reception['na'] %></td>
          </tr>
          <tr>
            <td>CA Reception</td>
            <td><%= @ca_reception['yes'] %></td>
            <td><%= @ca_reception['no'] %></td>
            <td><%= @ca_reception['na'] %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="section">
      <h3>Bride side (Preeth)</h3>
      <table class='table table-bordered' style="width:400px;">
        <thead>
          <tr>
            <td>Occasion RSVPs</td>
            <td>yes</td>
            <td>no</td>
            <td>not responded</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AZ Ceremony</td>
            <td><%= @az_wedding_bride_preeth['yes'] %></td>
            <td><%= @az_wedding_bride_preeth['no'] %></td>
            <td><%= @az_wedding_bride_preeth['na'] %></td>
          </tr>
          <tr>
            <td>AZ Reception</td>
            <td><%= @az_reception_bride_preeth['yes'] %></td>
            <td><%= @az_reception_bride_preeth['no'] %></td>
            <td><%= @az_reception_bride_preeth['na'] %></td>
          </tr>
          <tr>
            <td>CA Reception</td>
            <td><%= @ca_reception_bride_preeth['yes'] %></td>
            <td><%= @ca_reception_bride_preeth['no'] %></td>
            <td><%= @ca_reception_bride_preeth['na'] %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="section">
      <h3>Bride side (Rashmi)</h3>
      <table class='table table-bordered' style="width:400px;">
        <thead>
          <tr>
            <td>Occasion RSVPs</td>
            <td>yes</td>
            <td>no</td>
            <td>not responded</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AZ Ceremony</td>
            <td><%= @az_wedding_bride_rashmi['yes'] %></td>
            <td><%= @az_wedding_bride_rashmi['no'] %></td>
            <td><%= @az_wedding_bride_rashmi['na'] %></td>
          </tr>
          <tr>
            <td>AZ Reception</td>
            <td><%= @az_reception_bride_rashmi['yes'] %></td>
            <td><%= @az_reception_bride_rashmi['no'] %></td>
            <td><%= @az_reception_bride_rashmi['na'] %></td>
          </tr>
          <tr>
            <td>CA Reception</td>
            <td><%= @ca_reception_bride_rashmi['yes'] %></td>
            <td><%= @ca_reception_bride_rashmi['no'] %></td>
            <td><%= @ca_reception_bride_rashmi['na'] %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="section">
      <h3>Groom Side (Sunthar)</h3>
      <table class='table table-bordered' style="width:400px;">
        <thead>
          <tr>
            <td>Occasion RSVPs</td>
            <td>yes</td>
            <td>no</td>
            <td>not responded</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AZ Ceremony</td>
            <td><%= @az_wedding_groom_sunthar['yes'] %></td>
            <td><%= @az_wedding_groom_sunthar['no'] %></td>
            <td><%= @az_wedding_groom_sunthar['na'] %></td>
          </tr>
          <tr>
            <td>AZ Reception</td>
            <td><%= @az_reception_groom_sunthar['yes'] %></td>
            <td><%= @az_reception_groom_sunthar['no'] %></td>
            <td><%= @az_reception_groom_sunthar['na'] %></td>
          </tr>
          <tr>
            <td>CA Reception</td>
            <td><%= @ca_reception_groom_sunthar['yes'] %></td>
            <td><%= @ca_reception_groom_sunthar['no'] %></td>
            <td><%= @ca_reception_groom_sunthar['na'] %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="section">
      <h3>Groom Side (Dhanya)</h3>
      <table class='table table-bordered' style="width:400px;">
        <thead>
          <tr>
            <td>Occasion RSVPs</td>
            <td>yes</td>
            <td>no</td>
            <td>not responded</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AZ Ceremony</td>
            <td><%= @az_wedding_groom_dhanya['yes'] %></td>
            <td><%= @az_wedding_groom_dhanya['no'] %></td>
            <td><%= @az_wedding_groom_dhanya['na'] %></td>
          </tr>
          <tr>
            <td>AZ Reception</td>
            <td><%= @az_reception_groom_dhanya['yes'] %></td>
            <td><%= @az_reception_groom_dhanya['no'] %></td>
            <td><%= @az_reception_groom_dhanya['na'] %></td>
          </tr>
          <tr>
            <td>CA Reception</td>
            <td><%= @ca_reception_groom_dhanya['yes'] %></td>
            <td><%= @ca_reception_groom_dhanya['no'] %></td>
            <td><%= @ca_reception_groom_dhanya['na'] %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="section">
      <label class="checkbox-inline">
        <input type="checkbox" class="invitee-checkbox" checked value="preeth">Preeth
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" class="invitee-checkbox" checked value="rashmi">Rashmi
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" class="invitee-checkbox" checked value="sunthar">Sunthar
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" class="invitee-checkbox" checked value="dhanya">Dhanya
      </label>
    </div>
    <div class="section">
      <table class="table table-condensed table-bordered table-striped">
        <thead>
          <tr>
            <th>full_name</th>
            <th>RSVP Link</th>
            <th>Others</th>
            <th>Ceremony</th>
            <th>Reception</th>
            <th>CA Reception</th>
            <th>invited_by</th>
            <th>invited_to_ceremony</th>
            <th>invited_to_reception</th>
            <th>invited_to_ca_reception</th>
            <th>email</th>
            <th>access_code</th>
            <th>phone</th>
            <th>street_address</th>
            <th>city</th>
            <th>state</th>
            <th>zip</th>
            <th>table_number</th>
            <th>save_date_sent</th>
            <th>physical_invitation_sent</th>
          </tr>
        </thead>
        <tbody id="user_table_body">
          <% @users.each do |user| %>
          <tr invitee='<%= user.invited_by %>' id="row_<%= user.id %>">
            <td><%= user.full_name %></td>
            <td><a href="http://www.preethandsunthar.com/rsvp?access_code=<%= user.access_code %>" target="_blank">RSVP link</a></td>
            <td><%= user.other_people.join(", ") %></td>
            <td><%= user.rsvp_ceremony %></td>
            <td><%= user.rsvp_reception %></td>
            <td><%= user.rsvp_ca_reception %></td>
            <td><%= user.invited_by %></td>
            <td><%= user.invited_to_ceremony %></td>
            <td><%= user.invited_to_reception %></td>
            <td><%= user.invited_to_ca_reception %></td>
            <td><%= user.email %></td>
            <td><%= user.access_code %></td>
            <td><%= user.phone %></td>
            <td><%= user.street_address %></td>
            <td><%= user.city %></td>
            <td><%= user.state %></td>
            <td><%= user.zip %></td>
            <td><%= user.table_number %></td>
            <td><%= user.save_date_sent %></td>
            <td><%= user.physical_invitation_sent %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mailing_labels_wrapper clearfix" style="display: none;">
    <% @users.each do |user| %>
      <% if !(user.street_address == 'a' || user.street_address == '' || user.city == '' || user.zip == '')  %>
        <div class="mailing_label">
          <div class="mailing_label_name">
            <%= user.full_name %>
          </div>
          <div class="mailing_label_other">
            <%= user.street_address %>
          </div>
          <div class="mailing_label_other">
            <%= user.city %>, <%= user.state %> <%= user.zip %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  var fields = ["first_name", "last_name", "full_name", "salutation", "email", "access_code", "phone", "street_address", "city", "state", "zip", "other_people", "invited_to_ceremony", "invited_to_reception", "invited_to_ca_reception", "invited_by", "invitee_batch_a", "invitee_batch_b", "rsvp_ceremony", "rsvp_reception", "rsvp_ca_reception", "rsvp_sent", "reminder_sent", "wedding_info_sent", "table_number", "save_date_sent", "physical_invitation_sent"];
  // $(document).ajaxStart($.blockUI({ message: '<h1>Importing from google doc...</h1>' })).ajaxStop($.unblockUI);
  $(document).ready(function() {
    $("#import_spreadsheet").click(function() {
      $.ajax({
        url: '/admin/splash/import',
        type: 'GET',
        dataType: 'json',
        timeout: 15 * 60 * 1000, // 15 minute timeout
        success: function(data) {
          if (data && data.users) {
            var newRows = "";
            for (var i = 0; i < data.users.length; i++) {
              newRows += '<tr><td><input type="checkbox"></td>';
              for (var j = 0; j < fields.length; j++) {
                newRows += "<td>" + (data.users[i][fields[j]] ? data.users[i][fields[j]] : "") + "</td>"
              }
              newRows += "</tr>"
            }
            $("#user_table_body").html(newRows);
          }
          else {
            alert("Error: " + data);
          }
        },
        error: function(req, status, error) {
          console.log({req: req, status: status, error: error});
        }
      });
      return false;
    });
    $(".invitee-checkbox").change(function() {
      var invitee = $(this).val();
      var isChecked = $(this).is(":checked");
      console.log(invitee);
      $("#user_table_body > tr").each(function(index, element) {
        var rowInvitee = $(this).attr("invitee").toLowerCase().trim();
        if (invitee == rowInvitee) {
          if (isChecked)
            $(this).show();
          else
            $(this).hide();
        }
      });
    });
    $(".print_label_button").click(function(){
      $('#invitee_list').hide();
      $('.mailing_labels_wrapper').show();
    });
    // $("#export_data").click(function() {
    //   $.ajax({
    //     url: '/admin/splash/export',
    //     type: 'GET',
    //     dataType: 'file',
    //     timeout: 15 * 60 * 1000, // 15 minute timeout
    //     success: function(data) {
    //       console.log(data);
    //     },
    //     error: function(req, status, error) {
    //       console.log({req: req, status: status, error: error});
    //     }
    //   });
    // });
  });
</script>