<header class="navbar navbar-default navbar-fixed-top navbar-wedding" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <i class="glyphicon glyphicon-leaf"></i>
        Preeth &amp; Sunthar
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#about_us" role="tab" data-toggle="tab">About Us</a>
        </li>
        <li>
          <a href="#festivities" role="tab" data-toggle="tab">Festivities</a>
        </li>
        <li>
          <a href="#wedding_party" role="tab" data-toggle="tab">Wedding Party</a>
        </li>
        <li>
          <a href="#the_city" role="tab" data-toggle="tab">The City</a>
        </li>
        <li>
          <a href="#rsvp" role="tab" data-toggle="tab">RSVP</a>
        </li>
        <li>
          <a href="#registry" role="tab" data-toggle="tab">Registry</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="tab-content main_content">
  <div class="tab-pane active" id="about_us">
    <div class="jumbotron about_us_bg">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            About Us
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <p>
              At long last, we’re finally engaged! Thirteen years after we first met backstage at the Grand Ole Opry, Johnny proposed during a live performance at the London Ice House in London, Ontario. In the past thirteen years, we spent a lot of time together performing and touring along with the rest of the Carter family. We’ve written and performed a number of songs together, including "It Ain't Me Babe," "Jackson" and "If I Were a Carpenter." I guess all those times performing together really solidified our bond. Our pasts have led us to each other and we cannot wait to begin this next journey in life side by side.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Our Story
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="section">
                <h3>Hers</h3>
                <p>
                  Johnny is my best friend. He is charming, reliable, funny, and sensitive all in one big, attractive man. He may have his quirks, but that’s what I love most about him.
                </p>
                <p>
                  Johnny and I’s friendship was the perfect starting point for our growing love for each other. As friends, we learned about each other, enjoyed each other’s company, and began to fall in love. Looking back, I can’t imagine it starting any other way. 
                </p>
                <p>
                  In life you interact with a lot of different people, but only once in a lifetime do you find someone who is your perfect match. Johnny is perfect for me. He's everything I've always dreamed of and I'm so excited to spend the rest of my life with him!
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3>His</h3>
                <p>
                  June is amazing. When I first met her I knew she was amazing and every passing day remin ds me of just how amazing she is! What really blows me away is her incredibly unique blend of talents, interests, and personality. She's a talented artist, always excited about trying new things, and a genuinely loving person. June can be doing anything from singing onstage to hanging out at home and she has the same happy, welcoming demeanor that makes her a joy to be around.
                </p>
                <p>
                  It has been an amazing journey with June so far and I am looking forward to starting a new life together. June means so much to me and I can’t believe she is actually going to marry me.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Photos
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="row">
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("background-img-1.png", :alt => "img 1") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("background-img-2.png", :alt => "img 1") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("background-img-1.png", :alt => "img 1") %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("background-img-2.png", :alt => "img 1") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("background-img-1.png", :alt => "img 1") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("background-img-2.png", :alt => "img 1") %>
                </div>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-lg btn-default slideshow_button">
                View Slideshow
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Proposal Video
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/U8L8FHrZ8U4?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="festivities">
    <div class="jumbotron festivities">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Ceremony
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="img-circle big_circle_img">
                <%= image_tag("festivities_img-1.png", :alt => "img 1") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3 class="left_align">
                  Doubletree
                </h3>
                <h4 class="left_align">
                  Chandler, AZ <span>10.30 am</span>
                </h4>
                <p class="no_indent">
                  Our marriage ceremony will take place at the beautiful Spring Haven Mansion in Hendersonville, TN. There is plenty of parking and it is free. The ceremony will take place outside in the lawn in front of the mansion. In the event of rain, we will move indoors into the grand ballroom.
                </p>
                <a href="#">
                  View directions
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Reception
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="img-circle big_circle_img">
                <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3 class="left_align">
                  Doubletree
                </h3>
                <h4 class="left_align">
                  Chandler, AZ <span>10.30 am</span>
                </h4>
                <p class="no_indent">
                  The reception dinner and dancing will immediately follow the ceremony and will be held on the lawn behind Spring Haven Mansion. There will be yard games, delicious food, beverages and of course a wonderful wedding cake! This is sure to be a fun evening, so we hope you’ll stay and enjoy it with us.
                </p>
                <a href="#">
                  View directions
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="wedding_party">
    <div class="jumbotron about_us_bg">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Bridesmaids
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div id="bridesmaids_carousel" class="carousel slide wedding_party_carousel" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Puja Chandler
                      </h3>
                      <h4 class="left_align">
                        The Maid of Honor
                      </h4>
                      <p class="no_indent">
                        I am so honored that Anita agreed to be my Maid of Honor. Even though we are sisters, we’ve also always been best friends. Anita is not only reliable, caring, and funny, but she is also one of the strongest, most loving people I know. She has been a major influence in my life and I’ve always looked up to her. I can’t wait for her to stand by my side!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Indu Premakumar
                      </h3>
                      <h4 class="left_align">
                        The Bubbly one
                      </h4>
                      <p class="no_indent">
                        I am so honored that Anita agreed to be my Maid of Honor. Even though we are sisters, we’ve also always been best friends. Anita is not only reliable, caring, and funny, but she is also one of the strongest, most loving people I know. She has been a major influence in my life and I’ve always looked up to her. I can’t wait for her to stand by my side!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Sanjana Seelam
                      </h3>
                      <h4 class="left_align">
                        The Witty one
                      </h4>
                      <p class="no_indent">
                        I am so honored that Anita agreed to be my Maid of Honor. Even though we are sisters, we’ve also always been best friends. Anita is not only reliable, caring, and funny, but she is also one of the strongest, most loving people I know. She has been a major influence in my life and I’ve always looked up to her. I can’t wait for her to stand by my side!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Indu Premakumar
                      </h3>
                      <h4 class="left_align">
                        The Bubbly one
                      </h4>
                      <p class="no_indent">
                        I am so honored that Anita agreed to be my Maid of Honor. Even though we are sisters, we’ve also always been best friends. Anita is not only reliable, caring, and funny, but she is also one of the strongest, most loving people I know. She has been a major influence in my life and I’ve always looked up to her. I can’t wait for her to stand by my side!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Sanjana Seelam
                      </h3>
                      <h4 class="left_align">
                        The Witty one
                      </h4>
                      <p class="no_indent">
                        I am so honored that Anita agreed to be my Maid of Honor. Even though we are sisters, we’ve also always been best friends. Anita is not only reliable, caring, and funny, but she is also one of the strongest, most loving people I know. She has been a major influence in my life and I’ve always looked up to her. I can’t wait for her to stand by my side!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Indu Premakumar
                      </h3>
                      <h4 class="left_align">
                        The Bubbly one
                      </h4>
                      <p class="no_indent">
                        I am so honored that Anita agreed to be my Maid of Honor. Even though we are sisters, we’ve also always been best friends. Anita is not only reliable, caring, and funny, but she is also one of the strongest, most loving people I know. She has been a major influence in my life and I’ve always looked up to her. I can’t wait for her to stand by my side!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Sanjana Seelam
                      </h3>
                      <h4 class="left_align">
                        The Witty one
                      </h4>
                      <p class="no_indent">
                        I am so honored that Anita agreed to be my Maid of Honor. Even though we are sisters, we’ve also always been best friends. Anita is not only reliable, caring, and funny, but she is also one of the strongest, most loving people I know. She has been a major influence in my life and I’ve always looked up to her. I can’t wait for her to stand by my side!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#bridesmaids_carousel" data-slide-to="0" class="active">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="1">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="2">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="3">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="4">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="5">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="6">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Groomsmen
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div id="groomsmen_carousel" class="carousel slide wedding_party_carousel" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Conal Sathi
                      </h3>
                      <h4 class="left_align">
                        The Best Man
                      </h4>
                      <p class="no_indent">
                        Tommy is an awesome friend and brother. I have such great memories of growing up with Tommy and our relationship continues to grow. We always make the most of the time we have together and I know that he’ll continue to be there for me the rest of my life.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Prasanna Vasudevan
                      </h3>
                      <h4 class="left_align">
                        The Radiohead
                      </h4>
                      <p class="no_indent">
                        Tommy is an awesome friend and brother. I have such great memories of growing up with Tommy and our relationship continues to grow. We always make the most of the time we have together and I know that he’ll continue to be there for me the rest of my life.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        David Tilley
                      </h3>
                      <h4 class="left_align">
                        The Jester
                      </h4>
                      <p class="no_indent">
                        Tommy is an awesome friend and brother. I have such great memories of growing up with Tommy and our relationship continues to grow. We always make the most of the time we have together and I know that he’ll continue to be there for me the rest of my life.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Zach Wyzgoski
                      </h3>
                      <h4 class="left_align">
                        The Wyz Kid
                      </h4>
                      <p class="no_indent">
                        Tommy is an awesome friend and brother. I have such great memories of growing up with Tommy and our relationship continues to grow. We always make the most of the time we have together and I know that he’ll continue to be there for me the rest of my life.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Vivek Agrawal
                      </h3>
                      <h4 class="left_align">
                        The Entreprenerd
                      </h4>
                      <p class="no_indent">
                        Tommy is an awesome friend and brother. I have such great memories of growing up with Tommy and our relationship continues to grow. We always make the most of the time we have together and I know that he’ll continue to be there for me the rest of my life.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Hirav Gandhi
                      </h3>
                      <h4 class="left_align">
                        The Gujju
                      </h4>
                      <p class="no_indent">
                        Tommy is an awesome friend and brother. I have such great memories of growing up with Tommy and our relationship continues to grow. We always make the most of the time we have together and I know that he’ll continue to be there for me the rest of my life.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Nick Chandler
                      </h3>
                      <h4 class="left_align">
                        The Rocket Scientist
                      </h4>
                      <p class="no_indent">
                        Tommy is an awesome friend and brother. I have such great memories of growing up with Tommy and our relationship continues to grow. We always make the most of the time we have together and I know that he’ll continue to be there for me the rest of my life.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#groomsmen_carousel" data-slide-to="0" class="active">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="1">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="2">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="3">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="4">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="5">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="6">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="the_city">
    <div class="jumbotron festivities">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Accomodations
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="section">
                <h3>Double Tree, Chandler, AZ</h3>
                <h4 class="text-center">
                  $200 / Night
                </h4>
                <p class="text-center big_font">
                  (408) 355 4249
                </p>
                <p class="text-center">
                  <a href="#">doubletree.com</a>
                </p>
                <p class="text-center">For your convenience, a preferred rate is available when you mention the Preeth/Sunthar wedding block.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3>Double Tree, Chandler, AZ</h3>
                <h4 class="text-center">
                  $200 / Night
                </h4>
                <p class="text-center big_font">
                  (408) 355 4249
                </p>
                <p class="text-center">
                  <a href="#">doubletree.com</a>
                </p>
                <p class="text-center">For your convenience, a preferred rate is available when you mention the Preeth/Sunthar wedding block.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            To Do
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Thing to do one
                </p>
                <p class="text-center">
                  <a href="#">doubletree.com</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Thing to do two
                </p>
                <p class="text-center">
                  <a href="#">doubletree.com</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Thing to do three
                </p>
                <p class="text-center">
                  <a href="#">doubletree.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            To Eat
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Thing to eat one
                </p>
                <p class="text-center">
                  <a href="#">doubletree.com</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Thing to eat two
                </p>
                <p class="text-center">
                  <a href="#">doubletree.com</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-1.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Thing to eat three
                </p>
                <p class="text-center">
                  <a href="#">doubletree.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="rsvp">
    <div class="jumbotron about_us_bg">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            RSVP
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="first_form" style="display: block;">
              <div class="col-md-12">
                <div class="section">
                  <p>
                    You will find your required passcode in the email you received. Enter your email address and passcode to review your RSVP options. Thanks for your RSVP!
                  </p>
                </div>
              </div>
              <div class="section">
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <strong>Oh no!</strong> Looks like you didn't enter a valid email address or passcode. If you are having trouble with this page, please contact us at <a href="mailto:sunnysunthar@gmail.com" class="alert-link">sunnysunthar@gmail.com</a>
                </div>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Email Address*</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" placeholder="Email address">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">Passcode*</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Passcode">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <button type="submit" class="btn btn-default btn-lg">Review RSVP Options</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="second_form" style="display: block;">
              <div class="col-md-12">
                <div class="section">
                  <h4>Hi Sunthar!</h4>
                  <p>
                    We are excited to celebrate our special day with you. We will keep you posted with all updates via email and text. If you have any questions please feel free to email us at <a href="mailto:sunnysunthar@gmail.com">sunnysunthar@gmail.com</a> or call us at (408 355 4249).
                  </p>
                </div>
              </div>
              <div class="section">
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <strong>Oh no!</strong> Looks like you didn't select any event(s) to RSVP.
                </div>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">RSVP*</label>
                    <div class="col-sm-8">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I am coming for the <strong>Wedding Ceremony</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Preeth is also coming for the <strong>Wedding Ceremony</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I am coming for the <strong>Wedding Reception</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Preeth is also coming for the <strong>Wedding Reception</strong>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Street Address</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">City</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">State</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Zip Code</label>
                    <div class="col-sm-4">
                      <input type="text" value = "" pattern="\d*" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Cell Phone</label>
                    <div class="col-sm-8">
                      <input type="tel" class="form-control" placeholder="Want text updates?">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Note</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" rows="5" placeholder="Leave us a message!"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <button type="submit" class="btn btn-default btn-lg">Submit RSVP!</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="second_form" style="display: block;">
              <div class="col-md-12">
                <div class="section">
                  <h4>Thanks!</h4>
                  <p class="big_font">We've received your RSVP. We will keep you posted with updates. Email us at <a href="mailto:sunnysunthar@gmail.com">sunnysunthar@gmail.com</a> if you have any questions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="registry">
    <div class="jumbotron festivities">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Registry
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-12">
              <div class="section">
                <p>
                  Now, we truly don’t need anything but your presence at our wedding. No, seriously! The party wouldn't be the same without you. But if you believe in the tradition of helping the newlyweds on their path of love and happiness, we thank you so very much. We have registered at the following places:
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Macy's
                </p>
                <p class="text-center">
                  <a href="#">Go to registry</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Crate and Barrel
                </p>
                <p class="text-center">
                  <a href="#">Go to registry</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("festivities_img-2.png", :alt => "img 2") %>
                </div>
                <p class="text-center big_font">
                  Amazon
                </p>
                <p class="text-center">
                  <a href="#">Go to registry</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
      //$('.wedding_party_carousel').carousel('cycle');
      $('.wedding_party_carousel').carousel({
        interval: 15000
      })
  });
</script>






