<header class="navbar navbar-default navbar-fixed-top navbar-wedding" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <span class="wedding_logo"></span>
        Preeth &amp; Sunthar
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li <% unless @rsvp %>class="active"<% end %>>
          <a href="#about_us" role="tab" data-toggle="tab">Thank You</a>
        </li>
        <li>
          <a href="#about_us" role="tab" data-toggle="tab">About Us</a>
        </li>
        <li>
          <a href="#festivities" role="tab" data-toggle="tab">Festivities</a>
        </li>
        <li>
          <a href="#wedding_party" role="tab" data-toggle="tab">Wedding Party</a>
        </li>
        <li>
          <a href="#the_city" role="tab" data-toggle="tab">The City</a>
        </li>
        <li>
          <a href="#rsvp" role="tab" data-toggle="tab" id='rsvp_tab'>RSVP</a>
        </li>
        <li>
          <a href="#registry" role="tab" data-toggle="tab">Registry</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="tab-content main_content">
  <div class="tab-pane active" id="thank_you">
    <div class="jumbotron hidden-xs thank_you_bg">
    </div>
    <div class="mobile_background visible-xs-block">
      <%= image_tag("background_image_sm_7.png", :alt => "Preeth and Sunthar") %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Thank You
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <p>
              We are extremely luck to have loving friends and family like you. Thank you for celebrating with us and making our special day extra special. Your love is overwhemling and we can't thank you enough for the kind gifts and well wishes.
            </p>
            <p>
              We will be upload videos and pictures from the festivities in the "About Us" tab. Check it out! We will also be uploading photos from the photo booth there.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="about_us">
    <div class="jumbotron hidden-xs about_us_bg">
    </div>
    <div class="mobile_background visible-xs-block">
      <%= image_tag("background_image_sm_1.png", :alt => "Preeth and Sunthar") %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            About Us
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <p>
              We are engaged! Our serendipitous first meeting was taken straight out of a movie (seriously, we met at a Gatsby themed Gala). Although we lived in different cities, we bridged the distance with endless phone calls and frequent trips between Los Angeles and San Francisco.  Our love for adventure and good food has created some wonderful memories, including trying new restaurants and recipes, theme parks, hikes, wine tasting, magic castles, and more.  We have so much in common, most importantly our shared values and incredible communities of family and friends.  We are so thankful for your support through every step and can’t wait to start the next chapter with your blessings.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Our Story
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="section">
                <h3>Hers</h3>
                <p>
                  When I moved to LA, I spent a lot of time thinking about the person I want to spend my life with. I took a logical approach, drafting a “few” (well, roughly 37) non-negotiable qualities for a boyfriend and eventual husband.
                </p>
                <p>
                  Sunthar and I met and had immediate chemistry. That night spurred a still unbroken streak of talking every day. As I got to know Sunthar, I kept mental reference of my checklist, and quickly found that he was everything I hoped for, and so much more.
                </p>
                <p>
                  But beyond my attempts of cracking the logic of love, I fell for Sunthar because of the way he makes me feel—just perfectly happy. Sunthar is a choice my head and my heart could agree upon.
                </p>
                <p>
                  Over a year later, I find the list of Sunthar’s incredible qualities is still growing.  I’m excited for our new life together, knowing I found my perfect match.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3>His</h3>
                <p>
                  It had only been a day since we met but Preeth and I had already spent countless hours on the phone chatting with each other. With every story she told me, I was more amazed and intrigued by her. She made me laugh and impressed me with her ambitions. I was already falling for her.
                </p>
                <p>
                  As she was finishing up her final story for the day, I was mentally rehearsing the couple of sentences I had written down to ask her out. I have never been so nervous. As I waited for her to finish her story, I summoned every ounce of courage I had to recite those words. There was a pause, and then she uttered the words that would change my life forever. “Yes I would love to.”
                </p>
                <p>
                  Being with Preeth has been one of the best things in my life, and I am honored and proud to be her life partner, forever and always.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Photos
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="row">
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow53.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "0") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow40.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "1") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow43.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "2") %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow29.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "3") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow57.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "4") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow63.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "5") %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow1.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "6") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow2.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "7") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow3.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "8") %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow4.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "9") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow15.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "10") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow6.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "11") %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow7.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "12") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow8.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "13") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="square_img">
                  <%= image_tag("slideshow/slideshow9.jpg", :alt => "img 1", :class => "about_us_carousel", :idx => "14") %>
                </div>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-lg btn-default slideshow_button" data-toggle="modal" data-target="#photo_slideshow">
                View Slideshow
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Proposal Video
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/U8L8FHrZ8U4?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Girls' Dance - CA Reception
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/kPyqlchuv-0?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Vivek &amp; Sangita Song - CA Reception
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/HRNdCBU9X-4?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Prasanna &amp; Conal Song - CA Reception
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/yOkhb-wlQf0?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Prasanna &amp; Conal Song - CA Reception
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/Tly6L5hndYs?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Sunthar's Song - CA Reception
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/3hi_zgbsCb4?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Group Dance - CA Reception
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/D9Z4R5TeE_Q?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Shoe Game - CA Reception
          </h2>
          <div class="box half_box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <iframe src="https://www.youtube-nocookie.com/embed/36c6EF5Vjf8?vq=hd1080" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="festivities">
    <div class="jumbotron hidden-xs festivities_bg">
    </div>
    <div class="mobile_background visible-xs-block">
      <%= image_tag("background_image_sm_2.png", :alt => "Preeth and Sunthar") %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Ceremony
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="img-circle big_circle_img">
                <%= image_tag("festivities_img-5.png", :alt => "Arizona Ceremony") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3 class="left_align">
                  San Tan Elegante Court Yard, DoubleTree Hotel
                </h3>
                <h4 class="left_align">
                  Gilbert, AZ<span>February 28th, 2015</span><span>10:00am</span>
                </h4>
                <p class="no_indent">
                  Our marriage ceremony will take place in Preeth’s hometown, Gilbert, Arizona, at the beautiful DoubleTree Center Courtyard. The ceremony will take place outside.  While it’s expected to be a pleasant 80 degrees, please bring sunglasses if necessary.  Following the ceremony, we will move indoors for the luncheon.
                </p>
                <a href="https://goo.gl/maps/XEj2V" target="_blank">
                  View directions
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Reception
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="img-circle big_circle_img">
                <%= image_tag("festivities_img-6.png", :alt => "Arizona Reception") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3 class="left_align">
                  San Tan Elegante Grand Ballroom, DoubleTree Hotel
                </h3>
                <h4 class="left_align">
                  Gilbert, AZ<span>February 28th, 2015</span><span>6:00pm</span>
                </h4>
                <p class="no_indent">
                  Please join us for a Cocktail Hour and Wedding Reception beginning at 6:00 PM. Cocktails will be served in the center courtyard, followed promptly by the dinner reception in the  adjacent San Tan Elegante Grand Ballroom of the DoubleTree Hotel. The evening will be filled with music and dancing as we celebrate the newly married couple.
                </p>
                <a href="https://goo.gl/maps/XEj2V" target="_blank">
                  View directions
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            California Reception
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="img-circle big_circle_img">
                <%= image_tag("festivities_img-7.png", :alt => "California Reception") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3 class="left_align">
                  San Jose Marriott Grand Ballroom
                </h3>
                <h4 class="left_align">
                  San Jose, CA<span>March 7th, 2015</span><span>6:00pm</span>
                </h4>
                <p class="no_indent">
                  Please join us for a Wedding Reception hosted in the Bay Area for our friends and family! The Cocktail Hour begins at 6:00 PM, followed promptly by a Dinner Reception in the Grand Ballroom of the San Jose Marriott. The evening will be filled with music and dancing as we celebrate the newly married couple in their new home.
                </p>
                <a href="https://goo.gl/maps/LPgJW" target="_blank">
                  View directions
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="wedding_party">
    <div class="jumbotron hidden-xs wedding_party_bg">
    </div>
    <div class="mobile_background visible-xs-block">
      <%= image_tag("background_image_sm_3.png", :alt => "Preeth and Sunthar") %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Bridesmaids
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div id="bridesmaids_carousel" class="carousel slide wedding_party_carousel" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#bridesmaids_carousel" data-slide-to="0" class="active">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_puja.png", :alt => "Puja Chandler") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="1">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_indu.png", :alt => "Indu Premakumar") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="2">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_bethany.png", :alt => "Bethany Jenner") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="3">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_sanjana.png", :alt => "Sanjana Seelam") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="4">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_arhana.png", :alt => "Arhana Chattopadhyay") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="5">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_anita.png", :alt => "Anita Shetty") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="6">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_kelly.png", :alt => "Kelly Bosco") %>
                  </div>
                </li>
                <li data-target="#bridesmaids_carousel" data-slide-to="7">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_nisha.png", :alt => "Nisha Prasad") %>
                  </div>
                </li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_puja.png", :alt => "Puja Chandler") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Puja Chandler
                      </h3>
                      <h4 class="left_align">
                        The Maid of Honor
                      </h4>
                      <p class="no_indent">
                        As Preeth's favorite (and only!) sister, I've been blessed with a lifetime of wonderful experiences with her, so there are too many great memories to recount them all.  From the moment she was born, she became my dress-up doll, scapegoat, confidante, partner-in-crime, and lifelong best friend.  Some of my favorite memories include the many nicknames Preeth a.k.a. Peachy, Regis, Ebay, Arnold (just added that one), etc. has been given by our family over the years. As kids we used to write crazy stories together and laugh until we were crying, and although we aren't the comedic authors we once were, Preeth still cracks me up all the time.  She's been there for every significant event in my life, and I couldn't have asked for a better baby sister. I love you, Peach!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_indu.png", :alt => "Indu Premakumar") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Indu Premakumar
                      </h3>
                      <h4 class="left_align">
                        The Bubbly One
                      </h4>
                      <p class="no_indent">
                        Ten minutes into our hike at Temescal Canyon, I am panting, scrambling through steep rocky terrain, trying to keep up with Arhana and Preeth, impressed at how athletic these girls were. I ask Preeth “what do you like to do for fun?” hoping she would do all the talking and I all the panting. “I hike” she says, smiling her beautiful smile at me. As with any group of girls, the conversation quickly turns to “what do you look for in your ideal guy”. Preeth said  “tall, kind, ambitious, a leader, someone who knows what he wants, just a good person, you know?” As she elaborated on those criteria, I remember having a light-bulb moment,  thinking how her description sounded a LOT like my brother. The more I learned about Preeth during that hike, the more I liked her. After giggling and swapping life stories, by the end of the dust covered trail, I bashfully asked for her number, hoping we could become friends. A year and a half later, I am thrilled to welcome her into our family.
                      </p>
                      <p class="no_indent">
                        Since the day I was born, my big brother has been my everything: my moral compass, my partner-in-crime, my cheerleader, my mentor and most of all my friend. I feel truly lucky to have such an amazing role model in my life, and he will always be my hero. Growing up I always wondered if any girl was going to match up to him, be deserving of “all that awesomeness” I would say half-jokingly. Preeth is the girl we have all been waiting for, the perfect heroine for this hero, and I feel honored to call her my new sister. Their love for one another is truly breathtaking to witness. Congratulations and cheers to many more adventures ahead!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_bethany.png", :alt => "Bethany Jenner") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Bethany Jenner
                      </h3>
                      <h4 class="left_align">
                        The Sailor Scout
                      </h4>
                      <p class="no_indent">
                        Preeth and I became best friends at 7 years old when we were put in the same second grade class. Over the past twenty years we have shared all our secrets, giggled about crushes, encouraged each other’s over-achieving tendencies, laughed, cried, and really grown up together in so many ways. When I married my husband four years ago I knew that I had to have Preeth by my side. Even though she was pursuing her Master’s at London School of Economics, she said she wouldn’t miss my wedding for the world and celebrated with me, although maybe a little jet-lagged, on the best day of my life. When she moved to India we’d write long emails or catch each other on Skype, knowing that no matter where we were in the world we’d always be there for each other. When she moved on to LA I wasn’t far behind her in moving to Oceanside and we’ve been able to spend a lot of time together figuring out how to become Californians.  When she told me that Sunthar was the one- we were driving through LA- I wanted to cry because I was so happy and excited for her. Sunthar and Preeth are beautiful people inside and out and I couldn’t imagine someone more worthy for my best friend. I can’t wait for the amazing day that will be their wedding!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_sanjana.png", :alt => "Sanjana Seelam") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Sanjana Seelam
                      </h3>
                      <h4 class="left_align">
                        The Witty One
                      </h4>
                      <p class="no_indent">
                        When a person has been in your life for as long as Preeth has been in mine, I'm not sure how it's fair, let alone possible, to isolate just one memory to call a favorite. So I won't.
                      </p>
                      <p class="no_indent">
                        Though we started our friendship at the same high school, it's oddly fair to categorize it under the umbrella of "long-distance." Preeth and I had very few of the same classes during which to gossip (aka a teenage girl's life source), so we resorted to passing notes in the hallways. One such note of hers was 18 pages long, not including a page addendum of labeled illustrations that shined a light on what I concluded was her (strangely apt) alter ego: a small, chubby boy in a multi-colored propeller hat and an ill-fitting shirt that read "I Heart Cookies." That's the moment I knew Preeth was truly...special. Ever since then, our relationship has gone the distance; whether it was via phone calls between neighboring states during college or via emails from continents apart during her stints in both London and India, we've managed to stay close. Now, we text each other from our respective bedrooms, so it's all come full circle.
                      </p>
                      <p class="no_indent">
                        As part of our rather unique 13-year long-distance friendship, Preeth has never failed to be my moral compass. Admittedly, I have occasional trouble deciding between what I want and the proverbial "right" thing, but Preeth has always been there, unflinchingly, to re-calibrate and point me due north...and I can't thank her enough. While I'm sad (read: miserable) at the prospect of losing my roommate to 400 miles and a boy (Cooties!), I'm thrilled that she's found someone who will love, appreciate and most importantly, embrace all of her quirks, quick wit and beauty. Congratulations Preeth and Sunthar - you're a couple who overcame the distance, a feat that's nothing short of admirable (though I’ve trained Preeth well!). And Preef, now that we're going to physically be long-distance pals again, I expect an extensive note about married life soon, white picket fence artwork included.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_arhana.png", :alt => "Arhana") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Arhana Chattopadhyay
                      </h3>
                      <h4 class="left_align">
                        The Cross-fitter
                      </h4>
                      <p class="no_indent">
                        It was an office romance of sorts. Preeth and I met while we were both working hard at an environmental think tank in Delhi (well, she was working hard…I was hardly working). At first, I was just grateful to have someone show me around the city and help me finally get internet, but soon it became clear that this was a friendship meant to be. We shared, among other things, a mutual love for Maharajah burgers at McDonald's, a mutual hatred for autowallahs who rip you off, many shared moments of confusion about navigating the growing pains of your 20s (and in India, no less!), and above all, the same zany sense of humor that you only find in a handful of people in your lifetime.  We became inseparable and took to calling each other "roommates" (which, in retrospect, may have annoyed our actual roommates at the time).
                      </p>
                      <p class="no_indent">
                        What was even more amazing was that even after coming back to America, Preeth and I remained so present in each other's lives, especially after she moved to California. Preeth has helped me furnish my apartment, figure out my life over many a late-night phone calls, kept me sane through the first part of medical school, and kept me laughing even when the going got rough. She is the (slightly) taller, wiser, older sister that I never had and one of the most genuinely good human beings I've ever met.  I always knew that someone like Sunthar was going to come into her life, and I'm so, so happy that they have found each other.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_anita.png", :alt => "Anita Shetty") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Anita Shetty
                      </h3>
                      <h4 class="left_align">
                        The Aneeth
                      </h4>
                      <p class="no_indent">
                        Preeth and I were best friends at first sight. We met at a bowling alley in grade school and have talked on the phone almost every night since then. Preeth not only knows everything about me, but she has been there for me every step of the way. I remember the day I got my first job to start my career; she had to be the first one I told. She happened to be in London at the time so I made her video chat with me. I told her to start jumping up and down and of course she did immediately - she is the best cheerleader. After she jumped up and down, I told her my good news and she continued to jump up and down for me in excitement. That's how amazing she is.
                      </p>
                      <p class="no_indent">
                        And then came the next chapter, the part where I'd jump up and down for her. I had heard so much about Sunthar before I met him and he sounded great, but of course he still had to pass my test. Sunthar was nothing short of what Preeth had described and he passed with flying colors!
                      </p>
                      <p class="no_indent">
                        Congratulations to Sunthar and my best friend, Preeth! You are perfect for each other.  I am so blessed to not only be a part of this journey, but to have another cheerleader on Team Preeth!
                      </p>
                      <p class="no_indent">
                        Sunthar, welcome to the family! I love you guys!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_kelly.png", :alt => "Kelly Bosco") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Kelly Bosco
                      </h3>
                      <h4 class="left_align">
                        The Hipster
                      </h4>
                      <p class="no_indent">
                        Preeth and I first met sometime in elementary school, and grew to be close friends during junior high and high school. Preeth is someone I always referred to as my “Music Guru” and/or “The Coolest Person You Will Ever Meet.” Many of my Saturday nights in high school were spent with Preeth at [pick your chain restaurant in Chandler that serves cheap ice cream], talking for hours. Thinking back to memories of Preeth in high school, I remember laughing until I cried... pretty much anytime I hung out with her. I can’t bring up stealing bread, Mr. T, or “Don’t Cha” by the Pussycat Dolls without giggling. Preeth is the girl that is brilliant, beautiful, kind, and wickedly clever, all without knowing how fantastic she is. I give Preeth credit for giving me a special kind of musical education. Because of Preeth’s many CDs she made (back when mix CDs were still a thing), I am constantly reminded of her whenever I hear a mid-2000’s indie rock song (Thanks, Peach!) We were both finally able to see one of our favorite bands, The Shins, on a turn-around trip to Tucson for her birthday a couple of years ago. We waited almost 10 years to see them, and I couldn’t imagine experiencing that with anyone else!
                      </p>
                      <p class="no_indent">
                        Preeth and I moved to the opposite ends of the state for college, and fortunately for Gmail, we were still able to keep in touch with our day-to-day events, hopes, fears, etc. throughout our undergrad, and eventually when she moved across the world. She showed me around downtown Tucson and I was delighted to have her visit me in the mountains in Flagstaff. She is a wonderful friend, confidant, comedian, and model (but seriously, how beautiful is this girl?)
                      </p>
                      <p class="no_indent">
                        When Preeth was coordinating for all of our girlfriends to meet Sunthar last year in Chandler, I had an amazing feeling about this guy, even before I met him. He is kind, smart, funny, and most importantly, he would do anything for Preeth. I am so honored to know this gentleman that stole Preeth’s heart. I can’t wait to celebrate the marriage of Preeth and Sunthar and their life together!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_nisha.png", :alt => "Nisha Prasad") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Nisha Prasad
                      </h3>
                      <h4 class="left_align">
                        The Indian Barbie
                      </h4>
                      <p class="no_indent">
                        I personally cannot attest to when Preeth and I first met because I have known her my entire life. So much so that we used to say we’ve known each other “since the womb”. Preeth’s family and mine are basically one as our dads are best friends who can always be found on the golf course; our moms are best friends who go for endless walks around the block, drink wine, and gossip; our sisters are best friends and have done everything from getting married to having kids at the exact same time. I can definitely say Preeth has been one of my best friends and another sister for as long as I can remember.
                      </p>
                      <p class="no_indent">
                        The fondest memory I have of our childhood friendship is premiering our dance skills to the famous Tamil song ‘Muquabala’ at the tender age of 5 and 7 (possibly older but that’s embarrassing!) and then extending that to a full-on dance career with our dear friends Anita and Neeta…shout out “East Coast, feel me, West Coast, feel me!”
                      </p>
                      <p class="no_indent">
                        Like most kids, we both went our separate ways after high school and it wasn’t until a year ago when Preeth was visiting Sunthar that we reconnected. It was like old times. We met for brunch in San Francisco for the purpose of ‘meeting this guy she was kinda serious about’ but of course Sunthar was forced to be silent as Preeth and I caught up on 10+ years of distance. After that fateful day, I got the privilege of getting to know Sunthar as he tried to get me out of my ‘new to SF funk’ by introducing me to all of his awesome friends, and through that we have become such great friends too. I am so happy that Sunthar and Preeth have found each other because they are both such amazing people. I look forward to watching this relationship blossom and to finally live in the same place as Preeth once again so we can go on long walks, drink wine, and gossip together for years to come!
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Groomsmen
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div id="groomsmen_carousel" class="carousel slide wedding_party_carousel" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#groomsmen_carousel" data-slide-to="0" class="active">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_conal.png", :alt => "Conal Sathi") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="1">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_prasanna.png", :alt => "Prasanna Vasudevan") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="2">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_david.png", :alt => "David Tilley") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="3">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_zach_new.png", :alt => "Zach Wyzgoski") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="4">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_vivek.png", :alt => "Vivek Agrawal") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="5">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_hirav.png", :alt => "Hirav Gandhi") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="6">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_luke.png", :alt => "Luke Li") %>
                  </div>
                </li>
                <li data-target="#groomsmen_carousel" data-slide-to="7">
                  <div class="img-circle small_circle_img">
                    <%= image_tag("wedding_party_nick.png", :alt => "Nick Chandler") %>
                  </div>
                </li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_conal.png", :alt => "Conal Sathi") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Conal Sathi
                      </h3>
                      <h4 class="left_align">
                        The Best Man
                      </h4>
                      <p class="no_indent">
                        Roommates, frat brothers, classmates, and a cappella mates, needless to say, Sunthar and I are like brothers.  I remember first meeting him during my orientation week in college.  We had instantly hit it off, our chat lasting a few hours even though we had only just met.  I'm so glad I bumped into him that day.  Otherwise, I'm not sure I'd have a partner in crime today.
                      </p>
                      <p class="no_indent">
                        We have had so many great memories together from celebrating his birthday in NY (he was quite startled to see me at his east coast apartment), to dressing up like super heroes at an Indian restaurant (though he forced me to enter the restaurant first), to singing in a Chennai train (we turned one tamil phrase into a 5 minute song), to traveling all over Sri Lanka together.
                      </p>
                      <p class="no_indent">
                        I'm not sure how Sunthar has put up with me and all my shenanigans over these years, but the fact that he has still stuck by me is a testament to how patient and compassionate he is.  He has taught me so much, like never settling for mediocrity, but always reach for the stars.
                      </p>
                      <p class="no_indent">
                        I'm glad he has found such a great woman in his life.  I knew Preeth was a perfect match when she showed up to our birthday lunch dressed up as Batwoman. Congrats to Sunthar and Preeth!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_prasanna.png", :alt => "Prasanna Vasudevan") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Prasanna Vasudevan
                      </h3>
                      <h4 class="left_align">
                        The Performer
                      </h4>
                      <p class="no_indent">
                        I met Sunthar when we joined Raagapella in 2005. I’ve been lucky to enjoy his friendship and share a ton of wonderful and wacky memories with him since then. One such memory: towards the end of our first year in Raag, the Indian musical genius A.R. Rahman was visiting Stanford, and Sunthar and I volunteered for the critical mission of picking up food for a luncheon. Borrowing a Raag member’s friend’s car, we drove to the restaurant and delicately laid the trays of delicious liquidy curry on the floor and seats of the car. The restaurant was late with the order, so we drove back in a rush. A block away from the destination on campus, a car in front of us slammed on the brakes. Sunthar abruptly swerved to the right, hopped over the curb, and stopped just short of a tree. We were okay, but the car was not; the food spilled everywhere, adorning the seats and floor with turmeric and an intense curry aroma that the mightiest cleaning could not remove.
                      </p>
                      <p class="no_indent">
                        This story is notable for three reasons: first, it involves A.R. Rahman (who did eventually get his food). Second, despite us ruining his car and condemning it to be used as an Indian food delivery vehicle, the owner of the car forgave Sunthar (I think), which is a testament to Sunthar being an upstanding and cool guy.
                      </p>
                      <p class="no_indent">
                        And third, this is one of the few times i can remember Sunthar messing anything up, and this wasn’t even quite his fault (although, I probably should have been driving). Sunthar has always sought big challenges and goals, and meticulously constructed plans and led the charge to achieve them. I’ve learned this about him through Raag projects he’s led - including a South Park parody flash video, an epic two week India tour, and a Bollywood-caliber music video - and through many honest and caring conversations over the years.
                      </p>
                      <p class="no_indent">
                        Perhaps the biggest goal Sunthar has talked about is finding a life partner. Since I’ve known him, he's made it clear he wants to find the most beautiful, intelligent, caring, and supportive girl. Seeing how happy, calm, and satisfied he’s been since meeting Preeth, I know that Sunthar found all he wanted and then some. I couldn’t be happier for you, Sunthar! I wish you and Preeth an amazing life together, with ever bigger and more exciting dreams.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_david.png", :alt => "David Tilley") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        David Tilley
                      </h3>
                      <h4 class="left_align">
                        The Animated One
                      </h4>
                      <p class="no_indent">
                        I met Sunthar in the summer of 2013 when I started working at Piazza. We’re both designers with a sense of humor and immediately hit it off. At work we enjoy walks to coffee shops together, teaching the office pup new tricks, and coming up with fun events for the team. Outside of the office we enjoy fine dining, shooting photos, and visiting Disneyland together.
                      </p>
                      <p class="no_indent">
                        One of our most fun memories was making Sunthar’s engagement video for Preeth. We ran all around around Palo Alto with a dance crew and used our creative juices to make a fun Indian-infused remix to “Just the Way You Are”. We bonded over the details and were very proud of the outcome. (Without me, I’m not sure she would have said yes, so, you’re welcome!)
                      </p>
                      <p class="no_indent">
                        I have been married for 3 years and give Sunthar tips about marriage regardless of whether he wants them or not. I'm so excited and honored to be standing up for him and his beautiful bride Preeth.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_zach_new.png", :alt => "Zach Wyzgoski") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Zach Wyzgoski
                      </h3>
                      <h4 class="left_align">
                        The Wyz Kid
                      </h4>
                      <p class="no_indent">
                        I met Sunthar 2 years ago when I first moved to California. I was new to the area and didn't know many people, but thanks to Sunthar that quickly changed. Not only did I discover that he's friends with pretty much everyone living in the Bay Area, it also became clear that he's the type of guy to  welcome a new coworker as a friend without skipping a beat.
                      </p>
                      <p class="no_indent">
                        Since then, we've become close and been on many adventures together. From a capella shows, to badminton games, to making viral videos, to nonstop bhangra-ing, it's been amazing to share so many good times with him.
                      </p>
                      <p class="no_indent">
                        I'm lucky to have such a great friend in my life and am so happy for him to have found an amazing partner in Preeth. Congratulations to both of you, and I wish you the best as you join together in marriage!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_vivek.png", :alt => "Vivek Agrawal") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Vivek Agrawal
                      </h3>
                      <h4 class="left_align">
                        The Entrepre-nerd
                      </h4>
                      <p class="no_indent">
                        Sunthar once suckered me into a trip from San Francisco all the way to New York City in 2007.  I asked him why of all places, NYC, and of all people, me?  His reason: A "bromantic" getaway.
                      </p>
                      <p class="no_indent">
                        What followed over the next week in NYC was the adventure of a lifetime.  We saw a Broadway production of The Lion King, rode around the city in a horse-driven carriage, and even experienced a classic over-priced cocktail at the Gansevoort.  But this was also followed by endless days and nights talking about our dreams, learning what scares of each of us, and even just hanging out together in silence, which I always count as a testament to true friendship.
                      </p>
                      <p class="no_indent">
                        I'm proud to know Sunthar and am excited about everything I will be able to see him do in the future. One of which, of course, is in having the wonderful pleasure of finding the love of his life.  Congrats to both of you, and I hope that the next time he feels the urge for a getaway he takes Preeth instead :)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_hirav.png", :alt => "Hirav Gandhi") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Hirav Gandhi
                      </h3>
                      <h4 class="left_align">
                        The Gujju
                      </h4>
                      <p class="no_indent">
                        I have had the pleasure of knowing Sunthar since I joined Raagapella back in 2007 as a sophomore. Since then, Sunthar has always been an awesome friend and mentor. Whether teaching me my parts in Raagapella or being there for me through my college romantic woes, Sunthar has been quite the awesome dude. When I first met Preeth, I knew that he was quite the lucky man (I already knew she would be quite the lucky woman). I can't wait to celebrate this special day with Preeth and Sunthar!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_luke.png", :alt => "Luke Li") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Luke Li
                      </h3>
                      <h4 class="left_align">
                        The Harold
                      </h4>
                      <p class="no_indent">
                        I first met Sunthar during our Phi Kappa Psi pledge period at the end of our freshman year at Stanford, but it wasn't until sophomore year that we really started to bond. By sheer happenstance, the two of us were assigned to be roommates in the fraternity house, which quickly led us to start calling ourselves "Harold and Kumar." It was only natural, then, that the two of us decided one night to walk from Phi Psi to Jack-in-the-Box to satisfy a late-night (non-marijuana-induced) junk food craving. (There is still yet to be a White Castle in Palo Alto.) Fortunately (or unfortunately) our adventure didn't involve cheetahs or tandem hang-gliding. The closest thing to Neil Patrick Harris was our fellow Phi Psi brother, Jose Campos, and the craziest thing that happened was asking a car behind us to help place our order since the drive-thru wouldn't serve pedestrians. But man, did those burgers and fries taste good all the same.
                      </p>
                      <p class="no_indent">
                        It's those memories that make me feel honored to be a part of Sunthar's wedding. During our three years of living together in Phi Psi (two of them as roommates), we saw each other at our best and at our worst; we celebrated each other's victories and helped each other grow into better people during our hardships; and our bond has only continued to grow as we've kept in touch during the years since graduation. I'm so excited that he and Preeth will be starting their life journey together, and I'm confident that he will be as dedicated to his marriage as he has been to our friendship.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <div class="img-circle big_circle_img">
                          <%= image_tag("wedding_party_nick.png", :alt => "Nick Chandler") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3 class="left_align">
                        Nick Chandler
                      </h3>
                      <h4 class="left_align">
                        The Rocket Scientist
                      </h4>
                      <p class="no_indent">
                        Although I felt like I already knew all about him through Preeth's stories, the first time I actually met Sunthar was when he came to Phoenix to meet the family.
                      </p>
                      <p class="no_indent">
                        He had no trouble winning us over: he played a round of golf with my father-in-law, sang Indian karaoke with my mother-in-law, brought thoughtful techie gifts for my wife and new baby, and talked cars with me.  He fit right in with the family from Day One.
                      </p>
                      <p class="no_indent">
                        Congratulations to Sunthar and Preeth, and I'm looking forward to gaining a new brother!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="the_city">
    <div class="jumbotron hidden-xs the_city_bg">
    </div>
    <div class="mobile_background visible-xs-block">
      <%= image_tag("background_image_sm_5.png", :alt => "Preeth and Sunthar") %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Accomodations
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-6">
              <div class="section">
                <h3>DoubleTree, Gilbert, AZ</h3>
                <h4 class="text-center">
                  $135 per day
                </h4>
                <p class="text-center big_font">
                  (480) 809 4100
                </p>
                <p class="text-center">
                  <a href="http://www.doubletreephoenixgilbert.com/" target="_blank">Reserve Rooms</a>
                </p>
                <p class="text-center">For your convenience, a preferred rate is available when you mention the Kumar/Premakumar Wedding or Group Code KPW. Only a limited number of rooms are available at the discounted rate, so please book early! Last day to book at this rate is 2/1/15.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <h3>Marriott, San Jose, CA</h3>
                <h4 class="text-center">
                  $109 per day
                </h4>
                <p class="text-center big_font">
                  (408) 280 1300
                </p>
                <p class="text-center">
                  <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Premakumar%20Wedding%20%5Esjcsj%60pwrpwra%60109.00%60USD%60false%603/7/15%603/8/15%602/13/15&app=resvlink&stop_mobi=yes" target="_blank">Reserve Rooms</a>
                </p>
                <p class="text-center">For your convenience, a preferred rate is available when you mention the Kumar/Premakumar Wedding or if you click on the above link. Only a limited number of rooms are available at the discounted rate, so please book early! Last day to book at this rate is 2/13/15.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            To Do
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("city_img-1.png", :alt => "The Grand Canyon") %>
                </div>
                <h3>
                  The Grand Canyon
                </h3>
                <p class="text-center big_font">
                  4 hours from Gilbert, AZ
                </p>
                <p class="text-center">
                  <a href="http://www.nps.gov/grca/index.htm" target="_blank">See More Info</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("city_img-2.png", :alt => "Sedona") %>
                </div>
                <h3>
                  Sedona
                </h3>
                <p class="text-center big_font">
                  2.5 hours from Gilbert, AZ
                </p>
                <p class="text-center">
                  <a href="http://visitsedona.com/" target="_blank">See More Info</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("city_img-3.png", :alt => "Scottsdale") %>
                </div>
                <h3>
                  Old Town Scottsdale
                </h3>
                <p class="text-center big_font">
                  30 minutes from Gilbert, AZ
                </p>
                <p class="text-center">
                  <a href="http://www.experiencescottsdale.com/explore-by-area/downtown/" target="_blank">See More Info</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            To Eat
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("city_img-4.png", :alt => "img 2") %>
                </div>
                <h3>
                  Blue Wasabi
                </h3>
                <p class="text-center big_font">
                  2013 best Asian cuisine, AZ
                </p>
                <p class="text-center">
                  <a href="http://bluewasabisushi.com/" target="_blank">See More Info</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("city_img-5.png", :alt => "img 2") %>
                </div>
                <h3>
                  Four Peaks Brew Co.
                </h3>
                <p class="text-center big_font">
                  AZ favorite for local craft beer
                </p>
                <p class="text-center">
                  <a href="http://www.fourpeaks.com/" target="_blank">See More Info</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("city_img-6.png", :alt => "img 2") %>
                </div>
                <h3>
                  Olive &amp; Ivy
                </h3>
                <p class="text-center big_font">
                  Classy Scottsdale dinning
                </p>
                <p class="text-center">
                  <a href="http://www.foxrc.com/restaurants/olive-ivy-restaurant-marketplace/" target="_blank">See More Info</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="rsvp">
    <div class="jumbotron hidden-xs rsvp_bg">
    </div>
    <div class="mobile_background visible-xs-block">
      <%= image_tag("background_image_sm_6.png", :alt => "Preeth and Sunthar") %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 id="rsvp_head">
            RSVP
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="first_form" style="display: block;" id="rsvp_first">
              <div class="col-md-12">
                <div class="section">
                  <p>
                    You will find your required passcode in the email you received. Enter your email address and passcode to review your RSVP options. Thanks for your RSVP!
                  </p>
                </div>
              </div>
              <div class="section">
                <div class="alert alert-danger alert-dismissible" role="alert" style="display:none;" id="rsvp_invalid">
                  <button type="button" class="close" onclick="$('#rsvp_invalid').hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <strong>Oh no!</strong> Looks like you didn't enter a valid email address or passcode. If you are having trouble with this page, please contact us at <a href="mailto:sunnysunthar@gmail.com" class="alert-link">sunnysunthar@gmail.com</a>
                </div>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Email Address*</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" placeholder="Email address" id="rsvp_email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">Passcode*</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" placeholder="Passcode" id="rsvp_passcode">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <button type="submit" id="review_rsvp_options" class="btn btn-default btn-lg">Review RSVP Options</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="second_form" style="display: none;" id="rsvp_second">
              <div class="col-md-12">
                <div class="section">
                  <h4 id="rsvp_hi"></h4>
                  <p>
                    We are excited to celebrate our special day with you. We will keep you posted with all updates via email and text. If you have any questions please feel free to email us at <a href="mailto:sunnysunthar@gmail.com">sunnysunthar@gmail.com</a> or call us at (408 355 4249).
                  </p>
                </div>
              </div>
              <div class="section">
                <div class="alert alert-danger" role="alert" style="display:none;" id="rsvp_no_rsvp">
                  <button type="button" class="close" onclick="$('#rsvp_no_rsvp').hide()" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <strong>Oh no!</strong> Looks like you didn't select any event(s) to RSVP.
                </div>
                <div class="alert alert-danger" role="alert" style="display:none;" id="rsvp_all_fields">
                  <button type="button" class="close" onclick="$('#rsvp_all_fields').hide()" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <strong>Oh no!</strong> All fields are required except 'Note' and 'Cell Phone'.
                </div>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">RSVP*</label>
                    <div class="col-sm-8" id="rsvp_checkboxes">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I am coming for the <strong>Wedding Ceremony</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Preeth is also coming for the <strong>Wedding Ceremony</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I am coming for the <strong>Wedding Reception</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Preeth is also coming for the <strong>Wedding Reception</strong>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Street Address</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="rsvp_address">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">City</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="rsvp_city">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">State</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="rsvp_state">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Zip Code</label>
                    <div class="col-sm-4">
                      <input type="text" value = "" pattern="\d*" class="form-control" id="rsvp_zip">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Cell Phone</label>
                    <div class="col-sm-8">
                      <input type="tel" class="form-control" id="rsvp_cell" placeholder="Receive text updates">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Note</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" id="rsvp_note" rows="5" placeholder="Leave us a message!"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <button type="submit" class="btn btn-default btn-lg" id="rsvp_submit">Submit RSVP!</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="second_form" style="display: none;" id="rsvp_third">
              <div class="col-md-12">
                <div class="section">
                  <h4>Thanks!</h4>
                  <p class="big_font">We've received your RSVP. We will keep you posted with updates. Email us at <a href="mailto:sunnysunthar@gmail.com">sunnysunthar@gmail.com</a> if you have any questions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="registry">
    <div class="jumbotron hidden-xs registry_bg">
    </div>
    <div class="mobile_background visible-xs-block">
      <%= image_tag("background_image_sm_4.png", :alt => "Preeth and Sunthar") %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wedding_date">
            02.28.15
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Registry
          </h2>
          <div class="box clearfix">
            <i class="glyphicon glyphicon-heart"></i>
            <div class="col-md-12">
              <div class="section">
                <p class="no_indent">
                  We're registered at Amazon, Macy's, and Zola (a site for to create custom registries, such as our honeymoon and new home funds). We will be traveling to California after the wedding, so we appreciate you not bringing boxed gifts to the Wedding Reception.  Thank you, and your presence at our wedding is the greatest gift of all!
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("registry_amazon.png", :alt => "Amazon") %>
                </div>
                <p class="text-center big_font">
                  Amazon
                </p>
                <p class="text-center">
                  <a href="http://www.amazon.com/registry/wedding/MN19NIOWG2JD" target="_blank">Go to registry</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("registry_macys.png", :alt => "Macys") %>
                </div>
                <p class="text-center big_font">
                  Macy's
                </p>
                <p class="text-center">
                  <a href="http://www.macys.com/registry/wedding/guest/?registryId=6267610" target="_blank">Go to registry</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 clearfix">
              <div class="section">
                <div class="img-circle small_circle_img">
                  <%= image_tag("registry_zola.png", :alt => "Zola") %>
                </div>
                <p class="text-center big_font">
                  Zola
                </p>
                <p class="text-center">
                  <a href="https://www.zola.com/registry/suntharandpreeth" target="_blank">Go to registry</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="photo_slideshow" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <a class="close_slideshow" data-dismiss="modal">CLOSE</a>
      </div>
      <div class="modal-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            <li data-target="#carousel-example-generic" data-slide-to="10"></li>

            <li data-target="#carousel-example-generic" data-slide-to="11"></li>
            <li data-target="#carousel-example-generic" data-slide-to="12"></li>
            <li data-target="#carousel-example-generic" data-slide-to="13"></li>
            <li data-target="#carousel-example-generic" data-slide-to="14"></li>
            <li data-target="#carousel-example-generic" data-slide-to="15"></li>
            <li data-target="#carousel-example-generic" data-slide-to="16"></li>
            <li data-target="#carousel-example-generic" data-slide-to="17"></li>
            <li data-target="#carousel-example-generic" data-slide-to="18"></li>
            <li data-target="#carousel-example-generic" data-slide-to="19"></li>
            <li data-target="#carousel-example-generic" data-slide-to="20"></li>

            <li data-target="#carousel-example-generic" data-slide-to="21"></li>
            <li data-target="#carousel-example-generic" data-slide-to="22"></li>
            <li data-target="#carousel-example-generic" data-slide-to="23"></li>
            <li data-target="#carousel-example-generic" data-slide-to="24"></li>
            <li data-target="#carousel-example-generic" data-slide-to="25"></li>
            <li data-target="#carousel-example-generic" data-slide-to="26"></li>
            <li data-target="#carousel-example-generic" data-slide-to="27"></li>
            <li data-target="#carousel-example-generic" data-slide-to="28"></li>
            <li data-target="#carousel-example-generic" data-slide-to="29"></li>
            <li data-target="#carousel-example-generic" data-slide-to="30"></li>

            <li data-target="#carousel-example-generic" data-slide-to="31"></li>
            <li data-target="#carousel-example-generic" data-slide-to="32"></li>
            <li data-target="#carousel-example-generic" data-slide-to="33"></li>
            <li data-target="#carousel-example-generic" data-slide-to="34"></li>
            <li data-target="#carousel-example-generic" data-slide-to="35"></li>
            <li data-target="#carousel-example-generic" data-slide-to="36"></li>
            <li data-target="#carousel-example-generic" data-slide-to="37"></li>
            <li data-target="#carousel-example-generic" data-slide-to="38"></li>
            <li data-target="#carousel-example-generic" data-slide-to="39"></li>
            <li data-target="#carousel-example-generic" data-slide-to="40"></li>

            <li data-target="#carousel-example-generic" data-slide-to="41"></li>
            <li data-target="#carousel-example-generic" data-slide-to="42"></li>
            <li data-target="#carousel-example-generic" data-slide-to="43"></li>
            <li data-target="#carousel-example-generic" data-slide-to="44"></li>
            <li data-target="#carousel-example-generic" data-slide-to="45"></li>
            <li data-target="#carousel-example-generic" data-slide-to="46"></li>
            <li data-target="#carousel-example-generic" data-slide-to="47"></li>
            <li data-target="#carousel-example-generic" data-slide-to="48"></li>
            <li data-target="#carousel-example-generic" data-slide-to="49"></li>
            <li data-target="#carousel-example-generic" data-slide-to="50"></li>

            <li data-target="#carousel-example-generic" data-slide-to="51"></li>
            <li data-target="#carousel-example-generic" data-slide-to="52"></li>
            <li data-target="#carousel-example-generic" data-slide-to="53"></li>
            <li data-target="#carousel-example-generic" data-slide-to="54"></li>
            <li data-target="#carousel-example-generic" data-slide-to="55"></li>
            <li data-target="#carousel-example-generic" data-slide-to="56"></li>
            <li data-target="#carousel-example-generic" data-slide-to="57"></li>
            <li data-target="#carousel-example-generic" data-slide-to="58"></li>
            <li data-target="#carousel-example-generic" data-slide-to="59"></li>
            <li data-target="#carousel-example-generic" data-slide-to="60"></li>

            <li data-target="#carousel-example-generic" data-slide-to="61"></li>
            <li data-target="#carousel-example-generic" data-slide-to="62"></li>
            <li data-target="#carousel-example-generic" data-slide-to="63"></li>
            <li data-target="#carousel-example-generic" data-slide-to="64"></li>
            <li data-target="#carousel-example-generic" data-slide-to="65"></li>
            <li data-target="#carousel-example-generic" data-slide-to="66"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("slideshow/slideshow53.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow40.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow43.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow29.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow57.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow63.jpg", :alt => "img 1") %>
            </div>


            <div class="item">
              <%= image_tag("slideshow/slideshow1.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow2.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow3.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow4.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow15.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow6.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow7.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow8.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow9.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow10.jpg", :alt => "img 1") %>
            </div>


            <div class="item">
              <%= image_tag("slideshow/slideshow11.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow12.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow13.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow14.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow16.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow17.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow18.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow19.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow20.jpg", :alt => "img 1") %>
            </div>


            <div class="item">
              <%= image_tag("slideshow/slideshow21.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow22.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow23.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow24.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow25.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow26.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow27.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow28.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow30.jpg", :alt => "img 1") %>
            </div>

            <div class="item">
              <%= image_tag("slideshow/slideshow31.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow32.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow33.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow34.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow35.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow36.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow37.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow38.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow39.jpg", :alt => "img 1") %>
            </div>

            <div class="item">
              <%= image_tag("slideshow/slideshow41.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow42.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow44.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow45.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow46.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow47.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow48.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow49.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow50.jpg", :alt => "img 1") %>
            </div>

            <div class="item">
              <%= image_tag("slideshow/slideshow51.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow52.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow53.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow54.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow55.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow56.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow58.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow59.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow60.jpg", :alt => "img 1") %>
            </div>

            <div class="item">
              <%= image_tag("slideshow/slideshow61.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow62.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow64.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow65.jpg", :alt => "img 1") %>
            </div>
            <div class="item">
              <%= image_tag("slideshow/slideshow66.jpg", :alt => "img 1") %>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var RSVP = false;
  <% if @rsvp %>RSVP = true; <% end %>
  <% if @access_data %>
  var ACCESS_DATA = <%= raw(@access_data.to_json) %>;
  <% end %>
  $( document ).ready(function() {
      //$('.wedding_party_carousel').carousel('cycle');
      $(".about_us_carousel").click(function() {
        $("#carousel-example-generic").carousel(parseInt($(this).attr("idx")));
        $("#photo_slideshow").modal('show');
      });
      if (RSVP) {
        $("#rsvp_tab").tab('show');
        RSVP = false;
      }
  });
</script>






